---
is_hidden: true
---

<% if ENV['CI_COMMIT_REF_NAME'] == 'master' %>
Sitemap: <%= @items['/sitemap.*'].path %>
<% else %>
# Ban all spiders from the entire site when not on master branch
User-Agent: *
Disallow: /
<% end %>
