<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= render '/head.*' %>
    <meta name="robots" content="noindex">
    <link rel="canonical" href="<%= @config[:base_url] %>/404.html">
    <link rel="stylesheet" href="<%= @items['/assets/stylesheets/404.*'].path %>">
  </head>
  <body>
    <%= render '/header.*' %>
    <div class="main class">
      <%= yield %>
    </div>
  </body>

  <%= render '/footer.*' %>
  <%= render '/analytics.*' %>
  <%= render '/https_redirect.*' %>
</html>
