<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"Organization",
  "name":"GitLab",
  "legalName":"GitLab Inc.",
  "url":"https://about.gitlab.com",
  "logo":"https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.png",
  "foundingDate":"2011",
  "founders":[
    {
      "@type":"Person",
      "name":"Sid Sijbrandij"
    },
    {
      "@type":"Person",
      "name":"Dmitriy Zaporozhets"
    }],
    "address":
      {
        "@type":"PostalAddress",
        "streetAddress":"1233 Howard St 2F",
        "addressLocality":"San Francisco",
        "addressRegion":"CA",
        "postalCode":"94103",
        "addressCountry":"USA"
      },
    "sameAs":[
      "https://gitlab.com/",
      "https://docs.gitlab.com/",
      "https://www.facebook.com/gitlab",
      "https://twitter.com/gitlab",
      "https://www.linkedin.com/company/gitlab-com",
      "https://plus.google.com/107491817347842790515/",
      "https://en.wikipedia.org/wiki/GitLab",
      "https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg"]
}
</script>
<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type": "WebSite",
  "name": "GitLab Documentation",
  "url": "https://docs.gitlab.com/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://docs.gitlab.com/search/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
